body{

	margin:0;
	margin-top:-0.5%;	
	font-family: 'Nunito:300', sans-serif;
	font-size:1em;
	background-color: #FFFAF0;
}

header{
	width:98%;
	margin:1%;
	background-color:#8B0000;
	border:1px solid #8B0000;
	border-radius:1em;
	position:fixed;
	top:-0.5em;
	z-index:10;
}

header h1{
	font-size:2.5em;
	padding-left:1%;
	margin-top:0.3em;

}

#Loginbereich{
	display:none;
}

#headernav{
	font-size:1.5em;
	position:relative;
	top:-0.5em;
	left: 4em;
	display:none;
}

#HamburgerIcon{
	width: 10%;
	border:none;
	position: absolute;
	left:2%;
	cursor:pointer;
}

header nav a{
	color:#FFFAF0;
	display:block;
}

#ShoppingBag{
	width:3em;
	position:relative;
	left:80%;
	top:-4em;
	border:2px solid #FFFAF0;
	padding-right: 4px;
}

header div{
	position:relative;
	left:81%;
	top:-3em;
}
header div button{
	/*position: relative;
	left: 80%;
	top:-7.3em;*/
	background-color:#FFFAF0;
	border-radius:5px;
	padding:3px;
	cursor:pointer;
}

/*MAIN*/

main{
	width:95%;
	margin:1%;
	margin-top: 20%;
}

.Artikelbox{
	width:70%;
	margin-top:3%;
	margin-left: 4%;
	border:2px solid #8B0000;

	color:#8B0000;
	font-size:larger;
	text-align:center;
	
	position:relative;
	left:3em;
	top:5em;
	
	float: left;
}

.Artikelbild{
	width:70%;
	border:2px solid #8B0000;

	margin-top:5%;
	
	/*float:left;*/
}

main button{
	margin-bottom:1em;
	color:#FFFAF0;
	background-color: #8B0000;
	border-radius:5px;
	cursor:pointer;
}

header form{
	display:inline;
	color:#FFFAF0;
	position:relative;
	top:-4.5em;
	left:22%;
}

@media screen and (min-width:570px){
	.Artikelbox{
		width:40%;
		position:relative;
		left:1.5em;
	}
	header form{
		display:inline;
		color:#FFFAF0;
	}
}

@media screen and (min-width:768px){
	.Artikelbox{
		width:25%;
	}
	header img{
		position:relative;
		left:90%;
	}
	header div button{
		position:relative;
		left:90%;
	}
	header form{
		position:relative;
		top:-9em;
		left:45%;
		display:block;
		color:#FFFAF0;
	}
	#GO{
		background-color:#FFFAF0;
		border-radius:5px;
		padding:3px;
		cursor:pointer;
	}
	#HamburgerIcon{
		width:7%;
	}
	main{
		margin-top:15%;
	}
	#Loginbereich{
		display: block;
		position:relative;
		top:-8em;
	}
}
	
@media screen and (min-width:1024px){
	.Artikelbox{
		width:20%;
	}
	header form{
		position:relative;
		left:60%;
		top:-7.65em;
	}
	#HamburgerIcon{
		display:none;
	}
	#headernav{
		display:inline;
	}
	header nav a{
		display:inline;
	}
	main{
		margin-top:10%;	
	}
}
