@charset "utf-8";

body {
	background-color: lightgray;
}

.placeholder {
	position: relative;
	background-color: black;
	width: 80px;
	height: 120px;
	float: left;
	margin: 1em;
	border: black solid 1px;

	color: #ffffff;
	text-align: center;
	line-height: 100px;
}

.deckStyle {
	visibility: hidden;
}

.handCardStyle {
	width: 80px;
	height: 120px;
	float: left;
	margin: 1em;
	border: black solid 1px;
	color: #000000;
	text-align: center;
	line-height: 115px;
	font-size: 2em;
}

.hidden {
	background-color: black;
}

.open {
	background-color: gray;
}