body{
	width:800px;
}
div{
	height:100px;
	width:100px;
	float:left;
}
div:nth-child(9n){
	position:absolute;
}

.chessFieldWhite{
	background-color: white;
}

.chessFieldBlack{
	background-color: black; 
	color:white;
}