@charset "utf-8";

body {
	background-color: lightgray;
}

h1 {
	color: red;
}

div {
	margin: 2%;
	background-color: #888888;
	width: 30%;
	padding-bottom: 30%; /* relative size and position on page  */
	float: left;
	position: relative; /* coord system stop */
	top: 0px; /* IE? */
}

/*div {
	width: 50px;
	height: 50px;
	float: left;
	margin: 1em;
	background-color: white;
	border: black solid 1px;
	text-align: center;
}
*/
.hidden {
	background-color: black;
}

.open {
	background-color: gray;
}

.taken {
	visibility: hidden;
}