div{
	margin: 5em;
	padding:1em;
	width:50px;
	height:100px;
	border: solid black 1px;
	text-align:center;
}

#deck{
	position:absolute;
	top:0em;
	left:29%;
}

#discard{
	position:absolute;
	left:47%;
	top:0em;
}

#handcards{
	position:relative;
	display:block;
	top:10em;
	left:5%;
	margin:2em;
	float:left;
}